USE [CheckersGame]
GO
/****** Object:  Table [dbo].[Moves]    Script Date: 22/05/2026 23:42:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Moves](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GameId] [int] NOT NULL,
	[MoveNumber] [int] NOT NULL,
	[FromRow] [int] NOT NULL,
	[FromCol] [int] NOT NULL,
	[ToRow] [int] NOT NULL,
	[ToCol] [int] NOT NULL,
	[IsServerMove] [bit] NOT NULL,
 CONSTRAINT [PK_Moves] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Moves] ON 

INSERT [dbo].[Moves] ([Id], [GameId], [MoveNumber], [FromRow], [FromCol], [ToRow], [ToCol], [IsServerMove]) VALUES (25, 7, 1, 0, 0, 0, 0, 0)
INSERT [dbo].[Moves] ([Id], [GameId], [MoveNumber], [FromRow], [FromCol], [ToRow], [ToCol], [IsServerMove]) VALUES (26, 7, 2, 1, 2, 2, 1, 1)
INSERT [dbo].[Moves] ([Id], [GameId], [MoveNumber], [FromRow], [FromCol], [ToRow], [ToCol], [IsServerMove]) VALUES (27, 7, 3, 0, 0, 0, 0, 0)
GO
SET IDENTITY_INSERT [dbo].[Moves] OFF
GO
ALTER TABLE [dbo].[Moves]  WITH CHECK ADD  CONSTRAINT [FK_Moves_Games_GameId] FOREIGN KEY([GameId])
REFERENCES [dbo].[Games] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Moves] CHECK CONSTRAINT [FK_Moves_Games_GameId]
GO
