USE [CheckersGame]
GO
/****** Object:  Table [dbo].[Games]    Script Date: 22/05/2026 23:42:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Games](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PlayerId] [int] NOT NULL,
	[StartTime] [datetime2](7) NOT NULL,
	[DurationSeconds] [int] NULL,
	[Result] [nvarchar](max) NULL,
 CONSTRAINT [PK_Games] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Games] ON 

INSERT [dbo].[Games] ([Id], [PlayerId], [StartTime], [DurationSeconds], [Result]) VALUES (1, 1, CAST(N'2026-03-01T10:00:00.0000000' AS DateTime2), 120, N'Win')
INSERT [dbo].[Games] ([Id], [PlayerId], [StartTime], [DurationSeconds], [Result]) VALUES (2, 1, CAST(N'2026-03-02T11:00:00.0000000' AS DateTime2), 95, N'Lose')
INSERT [dbo].[Games] ([Id], [PlayerId], [StartTime], [DurationSeconds], [Result]) VALUES (3, 1, CAST(N'2026-03-03T12:00:00.0000000' AS DateTime2), 200, N'Win')
SET IDENTITY_INSERT [dbo].[Games] OFF
GO
ALTER TABLE [dbo].[Games]  WITH CHECK ADD  CONSTRAINT [FK_Games_Players_PlayerId] FOREIGN KEY([PlayerId])
REFERENCES [dbo].[Players] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Games] CHECK CONSTRAINT [FK_Games_Players_PlayerId]
GO
