USE [CheckersGame]
GO
/****** Object:  Table [dbo].[Players]    Script Date: 22/05/2026 23:42:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Players](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NOT NULL,
	[IdentityNumber] [int] NOT NULL,
	[Phone] [nvarchar](max) NOT NULL,
	[CountryId] [int] NOT NULL,
 CONSTRAINT [PK_Players] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Players] ON 

INSERT [dbo].[Players] ([Id], [FirstName], [IdentityNumber], [Phone], [CountryId]) VALUES (1, N'Jolian', 1, N'0526692936', 1)
INSERT [dbo].[Players] ([Id], [FirstName], [IdentityNumber], [Phone], [CountryId]) VALUES (2, N'Sally', 2, N'0533076428', 1)
INSERT [dbo].[Players] ([Id], [FirstName], [IdentityNumber], [Phone], [CountryId]) VALUES (4, N'Ali', 4, N'0522681054', 3)
SET IDENTITY_INSERT [dbo].[Players] OFF
GO
ALTER TABLE [dbo].[Players]  WITH CHECK ADD  CONSTRAINT [FK_Players_Countries_CountryId] FOREIGN KEY([CountryId])
REFERENCES [dbo].[Countries] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Players] CHECK CONSTRAINT [FK_Players_Countries_CountryId]
GO
ALTER TABLE [dbo].[Players]  WITH CHECK ADD  CONSTRAINT [CK_Player_IdentityNumber] CHECK  (([IdentityNumber]>=(1) AND [IdentityNumber]<=(1000)))
GO
ALTER TABLE [dbo].[Players] CHECK CONSTRAINT [CK_Player_IdentityNumber]
GO
ALTER TABLE [dbo].[Players]  WITH CHECK ADD  CONSTRAINT [CK_Player_Phone] CHECK  ((len([Phone])=(10)))
GO
ALTER TABLE [dbo].[Players] CHECK CONSTRAINT [CK_Player_Phone]
GO
